h1= title
p Welcome to #{title}

each request in requests
  div.request
    h4 ##{request.id}: #{request.req.headers['nox-url']}
    p
      code= request.postBody
    form(method='post', action='/response/#{request.id}', nox-response='true', data-remote='true')
      p
        a(href='/perform/#{request.id}', data-remote='true', nox-perform='true') Perform
      p
        label
          strong Status Code
          input(name='statusCode')
      p
        label
          strong Content Type
          input(name='contentType')
      p
        textarea(name='response')
      p
        button(type='submit') Send Response
    hr
