h1= title
p Welcome to #{title}

ul
each request in requests
  li
    p #{request.id}: #{request.req.headers['nox-url']}
    form(method='post', action='/response/#{request.id}', nox-response='true', data-remote='true')
      p
        a(href='/perform/#{request.id}', data-remote='true', nox-perform='true') Perform
      p
        textarea(name='response')
      p
        button(type='submit') Send Response
