div.request
  form(method='post', action='/response/#{request.id}', nox-response='true', data-remote='true')
    p
      a(href='/perform/#{request.id}', data-remote='true', nox-perform='true') Perform
      &nbsp;|&nbsp;
      a(href='/kill/#{request.id}', data-remote='true', data-method='delete', nox-kill='true') Kill
    h4 ##{request.id}: #{request.req.headers['nox-url']}
    h4 Post Body
    p
      code= request.postBody
    h4 Headers
    p
      code= JSON.stringify(request.req.headers)
    p
      label
        strong Status Code
        input(name='statusCode', value='', autocomplete='false')
    p
      label
        strong Content Type
        input(name='contentType', value='', autocomplete='false')
    p
      textarea(name='response', autocomplete='false')
    p
      button(type='submit') Send Response
    hr
